header {
  margin: auto;
  width: 50vw;
  padding: 2rem;
}

.nav-top {
  position: relative; /* referência para o position absolute */
}

.area-logo-menu {
  display: flex;
  align-items: center;
}

.i1 {
  width: 12vw;
  height: auto;
}

.i2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 9.5vw;
  height: auto;
}
/* ================== Navegação ================== */

.navbar ul {
  display: flex;
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: white;
  background-color: var(--cor-fundo-vermelho);
  font-weight: 600;
  transition: transform 0.2s ease;
}

.navbar ul li a:hover {
  transition: 0.2s;
  transform: scale(1.08);
  background-color: var(--cor-destaque-vermelho);
}

